---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
    assumenda nesciunt eius perferendis tempore nulla neque ipsa officiis ad
    dolores, cum omnis! At quos nesciunt officiis autem sunt in a.
  </p>
</Layout>

<style></style>
