---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h2>Home page</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
    assumenda nesciunt eius perferendis tempore nulla neque ipsa officiis ad
    dolores, cum omnis! At quos nesciunt officiis autem sunt in a.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde impedit
    veniam tempore facilis labore recusandae ipsa nulla, asperiores, vero
    voluptates repellendus atque fuga, ipsum amet molestias reiciendis suscipit
    qui magni deleniti! Ad tempora sapiente iure aliquam harum. Mollitia,
    similique cupiditate eveniet optio delectus corporis voluptatum soluta
    labore ab dolorem architecto ipsum exercitationem tempora omnis accusamus ea
    distinctio error cum aperiam, ipsa ut quasi. Ratione tempore repellat
    pariatur voluptatem repudiandae eaque consectetur voluptate quibusdam nihil
    velit, maxime blanditiis tempora et doloribus dolor quisquam dolorum fugiat
    iusto dignissimos sapiente dolorem, placeat magni ipsa molestias! Tempore,
    nostrum blanditiis accusamus provident quasi atque exercitationem illum
    veritatis sequi maxime, tenetur dignissimos quas odit ab doloribus et,
    corporis magnam aperiam? Itaque repellendus facilis possimus nihil excepturi
    consequatur impedit alias recusandae dicta.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, fugiat.
    Exercitationem corrupti reiciendis autem neque ipsam nihil hic eligendi,
    fugit quos velit consequuntur eos voluptatum quidem cupiditate voluptas
    voluptates quaerat. Nobis similique maxime explicabo unde quod dicta
    dolores! Expedita sapiente, doloribus qui id nihil quidem sequi corrupti
    modi fugit nobis praesentium consectetur delectus in optio eaque suscipit
    reiciendis? Quos similique atque sapiente dolor aliquid ullam tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cupiditate a
    sint, commodi at impedit quos? Explicabo ea corporis assumenda, molestias
    accusamus fugiat culpa nostrum, dolore laborum soluta libero quos tenetur
    quia tempora quis itaque officia accusantium! Numquam consequatur libero
    esse veniam, error maxime enim. Dolorem assumenda eius debitis perferendis
    amet distinctio dolore voluptatem velit corrupti ipsa, vero fuga eveniet,
    sapiente deserunt modi! Magnam impedit, corporis omnis obcaecati soluta
    autem modi non, iusto aperiam repellendus reiciendis illum laudantium quidem
    nobis delectus amet et laborum! Numquam quas perspiciatis dolorum quis
    soluta facere vitae repudiandae sint ullam ducimus asperiores ex ipsa,
    recusandae unde aliquid quasi sit corporis placeat harum eius repellendus
    impedit modi suscipit? Facere nihil cum possimus, itaque libero accusantium
    assumenda voluptatum asperiores molestias illum officiis qui vero expedita
    eveniet voluptas ut similique quas iusto!
  </p>
</Layout>

<style></style>
